.form {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .input {
    border: 1px solid #d1d5db; 
    border-radius: 2rem; 
    padding: 12px 16px;
    outline: none;
  }
  
  .button {
    background-color: #bc4c10; 
    color: white;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; 
    height: 45px;
    outline: none;
    border: none;
  }
  
  .button:hover {
    background-color: #c2410c;
  }
  
  .icon {
    width: 24px;
    height: 24px; 
  }
  
  @media screen and (max-width:769px) {
    .input {
      border: none;
      padding: 10px 16px;
    }
  }